<!DOCTYPE html>
<html lang="en">
<head>
    <script src="js/render.js"></script>
    <script src="https://unpkg.com/mustache@latest"></script>
    <meta charset="UTF-8">
    <title>Hello World!</title>
</head>
<body onload="renderBeerList()">
<h1>Beer List</h1>
<div id="beerlist">Loading beers...</div>
<script id="template" type="x-templ-mustache">
{{#beers}}
{{brewery}} {{name}} {{abv}} <br>
{{/beers}}
</script>
</body>
</html>